<div class="article-preview">
    <div class="article-meta">
        <a href="/@@@ArticleModel.Author.UserName"><img src="@ArticleModel.Author.Image" /></a>
        <div class="info">
            <a href="/@@@ArticleModel.Author.UserName" class="author">@ArticleModel.Author.UserName</a>
            <span class="date">@ArticleModel.CreatedAt</span>
        </div>
        @*TODO: Favorite/unfavorite on click*@
        <button class="btn @(ArticleModel.Favorited ? "btn-primary" : "btn-outline-primary") btn-sm pull-xs-right">
            <i class="ion-heart"></i> @ArticleModel.FavoritesCount
        </button>
    </div>
    <a href="/article/@ArticleModel.Slug" class="preview-link">
        <h1>@ArticleModel.Title</h1>
        <p>@ArticleModel.Description</p>
        <span>Read more...</span>
    </a>
</div>

@code {
    [Parameter]
    public Conduit.Models.Article ArticleModel { get; set; }
}
