@page "/"
@inject PublicClient MyClient

<div class="home-page">

    <AuthorizeView>
        <Authorizing>
        </Authorizing>
        <Authorized>           
        </Authorized>
        <NotAuthorized>
            <div class="banner">
                <div class="container">
                    <h1 class="logo-font">conduit</h1>
                    <p>A place to share your knowledge.</p>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="">Global Feed</a>
                        </li>
                    </ul>
                </div>

                @if (Articles != null)
                {
                    @foreach (var article in Articles)
                    {
                        <div class="article-preview">
                            <div class="article-meta">
                                <a href="/@@@(article.Author.UserName)"><img src="@article.Author.Image" /></a>
                                <div class="info">
                                    <a href="/@@@(article.Author.UserName)" class="author">@article.Author.UserName</a>
                                    <span class="date">@article.CreatedAt.ToString("MMMM d, yyyy")</span>
                                </div>
                                <button class="btn btn-outline-primary btn-sm pull-xs-right">
                                    <i class="ion-heart"></i> @article.FavoritesCount
                                </button>
                            </div>
                            <a href="/article/@(article.Slug)" class="preview-link">
                                <h1>@article.Title</h1>
                                <p>@article.Description</p>
                                <span>Read more...</span>
                                <ul class="tag-list">
                                    @foreach (var tag in article.TagList)
                                    {
                                        <li class="tag-default tag-pill tag-outline">
                                            @tag
                                        </li>
                                    }
                                </ul>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <text>Loading articles...</text>
                }
            </div>

            <div class="col-md-3">
                <div class="sidebar">
                    <p>Popular Tags</p>

                    <div class="tag-list">
                        @if (PopularTags == null)
                        {
                            <text>Loading tags...</text>
                        }
                        else
                        {
                            foreach (var tag in PopularTags)
                            {
                                <a href="" class="tag-pill tag-default">@tag</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    List<Conduit.Models.Article> Articles;
    List<string> PopularTags;

    protected override async Task OnInitializedAsync()
    {
        var articleResult = await MyClient.GetArticles();
        if (articleResult.Success)
        {
            Articles = articleResult.ReponseObject;
        }

        var tagsResult = await MyClient.GetTags();
        if (tagsResult.Success)
        {
            PopularTags = tagsResult.ReponseObject;
        }
    }
}