@page "/{usernameTag}"

@inject ConduitService MyConduitService
@inject NavigationManager MyNavigationManager
@inject AuthenticationStateProvider MyAuthStateProvider

<div class="profile-page">

    <div class="user-info">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img src="@ProfileModel.Image" class="user-img" />
                    <h4>@ProfileModel.Username</h4>
                    <p>
                        @ProfileModel.Bio
                    </p>
                    <AuthorizeView>
                        @if (context.User.Identity.Name == ProfileModel.Username)
                        {
                            <a class="btn btn-sm btn-outline-secondary action-btn" href="/settings">
                                <i class="ion-gear-a"></i> Edit Profile Settings
                            </a>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-outline-secondary action-btn" @onclick="@(() => ToggleFollowUser(!ProfileModel.Following))">
                                <i class="ion-plus-round"></i>
                                &nbsp;
                                @if (ProfileModel.Following)
                                {
                                    <text>Unfollow @ProfileModel.Username</text>

                                }
                                else
                                {
                                    <text>Follow @ProfileModel.Username</text>
                                }
                            </button>
                        }
                    </AuthorizeView>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link @(IsFavoritedArticlesSelected ? "" : "active")" href="/@UsernameTag" @onclick="@(() => ToggleFavoritedArticles(false))">My Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(IsFavoritedArticlesSelected ? "active" : "")" href="/@UsernameTag" @onclick="@(() => ToggleFavoritedArticles(true))">Favorited Articles</a>
                        </li>
                    </ul>
                </div>

                <ArticleList Articles="ArticleList" 
                             PageCount="(TotalArticleCount - 1) / 5 + 1" 
                             CurrentPageIndex="CurrentPageIndex"
                             OnPageChange="@((param) => HandleOnPageChange((int)param))" />
            </div>

        </div>
    </div>

</div>

@code {
    [Parameter]
    public string UsernameTag { get; set; }

    private Models.Profile ProfileModel = new Models.Profile();
    private List<Article> ArticleList;
    private int TotalArticleCount { get; set; }
    private int CurrentPageIndex { get; set; }
    private bool IsFavoritedArticlesSelected { get; set; }

    //TODO: fix when navigating to profile from a profile the page doesn't update
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        // As of .NET5RC1, Blazor cannot handle routing for "/@{username}" (called a complex segment in .NET routing)
        // Instead this page captures any input after the base URL as a parameter and tests if it matches the what
        // the Profile page is supposed to be. If not a match, redirect the user to Home. This will cause problems if
        // we want to implement another route with a single complex segment (e.g. /{username}-{article}), but that's
        // not part of the spec so we'll do this for now.
        // Set a timeout to prevent DoS attacks when running regex on user input
        var regex = new System.Text.RegularExpressions.Regex("@.+", System.Text.RegularExpressions.RegexOptions.None, TimeSpan.FromSeconds(10));
        if (!regex.IsMatch(UsernameTag))
        {
            MyNavigationManager.NavigateTo("/");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var username = UsernameTag.Substring(1);

        var profileResult = await MyConduitService.GetProfile(username);

        if (profileResult.Success)
        {
            ProfileModel = profileResult.ReponseObject;
        }
        else
        {
            MyNavigationManager.NavigateTo("/");
        }

        await GetMoreArticles(0);
    }

    private async Task ToggleFavoritedArticles(bool useFavoritedArticles)
    {
        IsFavoritedArticlesSelected = useFavoritedArticles;
        ArticleList = null;
        CurrentPageIndex = 0;
        await GetMoreArticles(0);
    }

    private async Task GetMoreArticles(int pageIndex)
    {
        if (IsFavoritedArticlesSelected)
        {
            var articleResult = await MyConduitService.GetArticles(favorited: ProfileModel.Username, limit: 5, offset: pageIndex * 5);
            if (articleResult.Success)
            {
                ArticleList = articleResult.ReponseObject.Articles;
                TotalArticleCount = articleResult.ReponseObject.ArticlesCount;
            }
        }
        else
        {
            var articleResult = await MyConduitService.GetArticles(author: ProfileModel.Username, limit: 5, offset: pageIndex * 5);
            if (articleResult.Success)
            {
                ArticleList = articleResult.ReponseObject.Articles;
                TotalArticleCount = articleResult.ReponseObject.ArticlesCount;
            }
        }
    }

    private async Task ToggleFollowUser(bool shouldFollow)
    {
        if (shouldFollow)
        {
            var followResult = await MyConduitService.FollowUser(ProfileModel.Username);
            if (followResult.Success)
            {
                ProfileModel.Following = true;
            }
        }
        else
        {
            var unfollowResult = await MyConduitService.UnfollowUser(ProfileModel.Username);
            if (unfollowResult.Success)
            {
                ProfileModel.Following = false;
            }
        }
    }

    private async Task HandleOnPageChange(int newPageIndex)
    {
        CurrentPageIndex = newPageIndex;
        await GetMoreArticles(newPageIndex);
    }
}